body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

nav {
    background-color: #333;
    padding: 15px;
    text-align: center;
}

nav img {
    width: 100px;
    height: 35px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

#searchField {
    max-width: 400px;
    height: 20px;
    width: 100%;
    margin: 15px auto;
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-list {
    max-width: 800px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 175px);
    gap: 20px;
    justify-content: center;
}

.product {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.product img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    float: left;
}

.product-info {
    padding: 10px;
}

.product-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    color: #e44d26;
    text-align: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

.exchange-list {
    max-width: 800px;
    margin: 15px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 175px);
    gap: 20px;
    justify-content: center;
    font-weight: bold;
}

.exchange {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.exchange > p {
    padding: 0 5px;
}
.exchange > .code {
    /* font-weight: bolder; */
    font-style: italic;
}
.exchange > .blue {
    color: blue;
}
.exchange > .oficial {
    color: green;
}

@media screen and (max-width: 760px){
    ::-webkit-scrollbar { display: none; }
  }